*{
    border: 0px;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    max-width: 400px;
    
}

body{
    width: 398px;
    background-image: url(fundo\ .jpg);
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height:400px;
    margin: 7px;

}
.container-vidro{
    align-items: center;
    background: rgb(255, 255, 255, 0,5);
    margin: 0px;
    max-width: 390px;
    backdrop-filter: blur(2px);
    box-shadow: 1 4px 30px rgba(0, 0, 0, 0,1);
    border: 1px solid rgba(255, 255, 255, 1);
    color: #fff;
    padding: 8px;
}


.cabecalho-primeira-tela{
    display:flex ;
    justify-content: center;
    gap:25px ;
    margin-top: 15px;
}

.logo-temp{
    padding: 0px;
    padding-left:10px;
    margin: 0px;
    font-size: 25px;
}

.container-pesquisa{
    display: flex;
    gap: 2px;
    
}
.caixa-pesquisa{
    background-color: gray;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.lupa{
    
}
.bi bi-search{
    margin-top: 10px;
   font-size: 5px;
   text-align: center;
}

.banner-principal{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: white;
    
}

.banner-principal-mobile{
    margin-left: 5px;
    width: 375px;
    border-radius: 10px;
    
    
}

.botao-banner{
    width: 85px;
    margin-left: 160px;
    margin-top: -15%;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    
}

.texto-botao{
    color: white;
}
.menu-base-filmes-h1{
    text-align: center;
    font-family: monospace;
    margin-bottom: 10px;
}

.container-menu-filmes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
}

.buttons-menu-primeira-tela{
    color: white;
    padding: 5px;
    width: 150px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
}

.menu-base-series{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.menu-base-series h1{
    font-family: monospace;
    margin-top: 20px;
    margin-bottom: 10px;
}

.carrosel-filmes-primeira-tela{
    margin: 20px;
    display: flex;
    gap: 20px;
    overflow: scroll;

}

.img-carrosel{
    width: 100px;
    border-radius: 10px;
}

.box-carrossel{
    display: flex;
    flex-direction: column;
}

.container-menu-series{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.carrosel-series-primeira-tela{
    margin: 20px;
    display: flex;
    gap: 20px;
    overflow: scroll;
}

footer{
    text-align: center;
    margin-top: 100px;
}